<!doctype html>
<html class="no-js" lang="ru">
<head>
    {{> head/head head.defaults}}
</head>
<body class="page" style="visibility: hidden;opacity: 0;">
    %=symbols=%
    {{> header/header}}

    <div class="cursort">
        <div class="cursort__next">
            {{Icon iconName="arr"}}
        </div>
    </div>

    <div class="first">
        <div class="first-svg">
            <svg width="484" height="105" viewBox="0 0 484 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="logo-1" d="M194.263 30.2864H202.705V65.5872H194.464L194.062 60.4726C192.052 64.5844 186.525 66.5901 182.605 66.6904C172.154 66.7907 164.315 60.2721 164.315 47.9368C164.315 35.7019 172.455 29.3838 182.806 29.4841C187.53 29.4841 192.052 31.6904 194.062 35.2004L194.263 30.2864ZM173.058 47.9368C173.058 54.656 177.681 58.6675 183.51 58.6675C197.278 58.6675 197.278 37.2061 183.51 37.2061C177.681 37.2061 173.058 41.2176 173.058 47.9368Z" fill="white"/>
                <path id="logo-2" d="M234.061 65.5873V46.7335C234.061 42.1203 231.649 37.808 226.825 37.808C222.101 37.808 219.287 42.02 219.287 46.7335V65.6876H210.544V30.1862H218.684L219.287 34.4985C221.197 30.8882 225.217 29.5845 228.634 29.5845C232.855 29.5845 237.076 31.2893 239.085 36.2034C242.201 31.1891 246.321 29.785 250.944 29.785C260.994 29.785 265.919 35.9025 265.919 46.5329V65.5873H257.276V46.5329C257.276 41.9197 255.366 37.9083 250.643 37.9083C245.919 37.9083 242.904 42.02 242.904 46.6332V65.5873H234.061Z" fill="white"/>
                <path id="logo-3" d="M281.395 15.5444V35.1003C283.506 31.49 289.335 29.4843 293.053 29.4843C303.404 29.4843 311.042 35.8023 311.042 47.937C311.042 59.5702 303.203 66.3897 292.752 66.3897C288.43 66.3897 284.008 64.9857 281.295 60.7737L280.692 65.6877H272.451V15.5444H281.395ZM281.998 47.937C281.998 54.3553 286.722 58.3668 292.249 58.3668C297.877 58.3668 302.299 54.1547 302.299 47.937C302.299 41.5186 297.877 37.6075 292.249 37.6075C286.722 37.6075 281.998 41.7192 281.998 47.937Z" fill="white"/>
                <path id="logo-4" d="M325.414 51.0461C326.017 55.4587 329.836 58.5675 335.966 58.5675C339.182 58.5675 343.403 57.3641 345.413 55.2581L351.041 60.7738C347.322 64.685 341.192 66.4902 335.765 66.4902C323.504 66.4902 316.268 58.9687 316.268 47.6363C316.268 36.9057 323.605 29.1836 335.061 29.1836C346.92 29.1836 354.357 36.5045 352.95 51.0461H325.414ZM344.709 43.8254C344.106 39.2122 340.589 36.9057 335.463 36.9057C330.74 36.9057 326.821 39.2122 325.514 43.8254H344.709Z" fill="white"/>
                <path id="logo-5" d="M367.322 30.2864L367.925 34.3981C370.638 29.9855 374.356 29.3838 377.874 29.3838C381.492 29.3838 385.009 30.7878 387.019 32.7935L383.1 40.4153C381.291 38.911 379.683 38.1087 376.768 38.1087C372.145 38.1087 367.925 40.5156 367.925 47.0342V65.6875H359.181V30.2864H367.322Z" fill="white"/>
                <path id="logo-6" d="M413.149 30.186V73.209C413.149 81.9339 409.33 87.6502 401.39 87.6502C398.777 87.6502 396.064 86.9482 393.552 85.2434L396.667 78.4239C398.174 79.1259 399.581 79.527 400.888 79.4267C403.802 79.3265 404.405 77.0199 404.405 73.209V30.186H413.149ZM403.601 20.2577C403.601 27.0772 413.953 27.0772 413.953 20.2577C413.953 13.4382 403.601 13.4382 403.601 20.2577Z" fill="white"/>
                <path id="logo-7" d="M427.52 51.0461C428.123 55.4587 431.942 58.5675 438.072 58.5675C441.288 58.5675 445.509 57.3641 447.519 55.2581L453.147 60.7738C449.429 64.685 443.298 66.4902 437.871 66.4902C425.61 66.4902 418.375 58.9687 418.375 47.6363C418.375 36.9057 425.711 29.1836 437.168 29.1836C449.027 29.1836 456.463 36.5045 455.056 51.0461H427.52ZM446.816 43.8254C446.213 39.2122 442.695 36.9057 437.57 36.9057C432.846 36.9057 428.927 39.2122 427.62 43.8254H446.816Z" fill="white"/>
                <path id="logo-8" d="M472.845 20.3584V30.3871H482.593V37.9085H472.744V53.1521C472.744 56.5618 474.654 58.1664 477.367 58.1664C478.774 58.1664 480.282 57.7653 481.588 57.0633L484 64.4845C481.488 65.4874 479.377 65.8885 476.764 65.9888C469.026 66.2896 464.001 61.877 464.001 53.0518V37.9085H457.368V30.3871H464.001V21.261L472.845 20.3584Z" fill="white"/>
                <path id="logo_l" d="M165.119 105L82.6096 0L0 105L10.8538 103.095C12.3613 102.794 35.5764 98.5817 60.701 82.0344C67.6354 84.5415 74.9718 85.745 82.5091 85.745C90.0465 85.745 97.4834 84.4413 104.418 82.0344C129.542 98.682 152.657 102.894 154.265 103.095L165.119 105ZM120.799 62.3782C116.277 66.5903 111.151 69.8997 105.624 72.4069C99.8953 68.2951 94.0665 63.5817 88.4385 58.0659C93.363 52.4499 98.0864 46.1318 102.408 39.1117L120.799 62.3782ZM82.6096 13.7393L96.8804 31.8911C92.559 39.3123 87.735 45.8309 82.6096 51.7478C77.4842 45.9312 72.6603 39.3123 68.3389 31.8911L82.6096 13.7393ZM76.6802 57.9656C71.0523 63.5817 65.2234 68.2951 59.495 72.3066C53.9676 69.7994 48.9427 66.49 44.3198 62.3782L62.711 39.0115C67.0324 46.0315 71.7558 52.3496 76.6802 57.9656ZM21.4061 91.4613L38.9934 69.0974C42.7118 72.5072 46.8322 75.4155 51.1537 77.7221C39.7973 84.6418 29.1445 88.9541 21.4061 91.4613ZM82.6096 72.5072C82.6096 72.5072 74.3688 75.1146 69.5449 75.7163C73.9668 72.3066 78.2882 68.4957 82.6096 64.2837C86.8306 68.4957 91.2525 72.3066 95.6744 75.7163C90.8505 75.2149 82.6096 72.5072 82.6096 72.5072ZM113.865 77.7221C118.186 75.3152 122.306 72.4069 126.025 68.9971L143.713 91.5616C136.075 88.9542 125.321 84.7421 113.865 77.7221Z" fill="url(#paint0_linear_0_25)"/>
                <defs>
                <linearGradient id="paint0_linear_0_25" x1="0" y1="52.4882" x2="165.139" y2="52.4882" gradientUnits="userSpaceOnUse">
                <stop offset="0.0195531" stop-color="#CB9866"/>
                <stop offset="0.2961" stop-color="#FDCC9A"/>
                <stop offset="0.5" stop-color="#CB9866"/>
                <stop offset="0.7207" stop-color="#FDCC9A"/>
                <stop offset="1" stop-color="#CB9866"/>
                </linearGradient>
                </defs>
            </svg>
        </div>
        
    </div>

    <div class="pic wrapper">
        <div class="pic__top">
            <div class="pic__top-text glob_text wow fadeIn" data-wow-delay=".1s">
                Visual identity and digital design for a private jet 
                seller and operator that makes every day feel like 
                a special experience from flying on private jets. 
            </div>
            <a href="#" class="pic__top-a wow fadeIn" data-wow-delay=".1s">
                amberjet.net
            </a>
        </div>
        <div class="pic__items">
            <div class="pic__items-item pic__items-item-b wow fadeIn" data-wow-delay=".1s">
                <img src="static/img/content/p1.png">
            </div>
            <div class="pic__items-item pic__items-item-m wow fadeIn" data-wow-delay=".1s">
                <img src="static/img/content/p2.png">
            </div>
            <div class="pic__items-item pic__items-item-f wow fadeIn" data-wow-delay=".1s">
                <img src="static/img/content/p3.png">
            </div>
            <div class="pic__items-item pic__items-item-f wow fadeIn" data-wow-delay=".2s">
                <img src="static/img/content/p4.png">
            </div>
            <div class="pic__items-item pic__items-item-b wow fadeIn" data-wow-delay=".1s">
                <img src="static/img/content/p5.png">
            </div>
            <div class="pic__items-item pic__items-item-m wow fadeIn" data-wow-delay=".1s">
                <img src="static/img/content/p6.png">
            </div>
            <div class="pic__items-item pic__items-item-m wow fadeIn" data-wow-delay=".1s">
                <img src="static/img/content/p7.png">
            </div>
            <div class="pic__items-item pic__items-item-t wow fadeIn" data-wow-delay=".1s">
                <img src="static/img/content/p8.png">
            </div>
            <div class="pic__items-item pic__items-item-s wow fadeIn" data-wow-delay=".1s">
                <img src="static/img/content/p9.png">
            </div>
        </div>
    </div>

    <div class="ser wrapper">
        <div class="ser__text glob_text wow fadeIn" data-wow-delay=".1s">
            Important stationery has been created to maintain the company's visual image. Among them are also blanks of official documents and proposals that the company's employees use in their daily work. In this way, the aesthetics of the company can be traced not only in marketing materials, but also at the level of business communication.
        </div>
        <div class="ser__items">
            <div class="ser__items-item wow fadeIn" data-wow-delay=".1s">
                <img src="static/img/content/s1.png">
            </div>
            <div class="ser__items-item wow fadeIn">
                <img src="static/img/content/s2.png">
            </div>
            <div class="ser__items-item wow fadeIn" data-wow-delay=".1s">
                <img src="static/img/content/s3.png">
            </div>
        </div>
        <div class="ser__items-swiper">
            <div class="swiper-wrapper">
                <div class="ser__items-item swiper-slide wow fadeIn" data-wow-delay=".1s">
                    <img src="static/img/content/s1.png">
                </div>
                <div class="ser__items-item swiper-slide wow fadeIn">
                    <img src="static/img/content/s2.png">
                </div>
                <div class="ser__items-item swiper-slide wow fadeIn" data-wow-delay=".1s">
                    <img src="static/img/content/s3.png">
                </div>
            </div>
        </div>
    </div>

    <div class="design wrapper">
        <div class="design__title wow fadeIn" data-wow-delay=".1s">
            Website design
        </div>
        <div class="design__box wow fadeIn" data-wow-delay=".1s">
            <video src="static/img/content/video.mp4" autoplay loop muted></video>
        </div>
    </div>

    
    {{> footer/footer}}

</body>
</html>