.wrapper {
    // width: 1426px;
    width: auto;
    // margin: 0px 247px;
    margin: 0px 14.3675vw;
}

.wrapper_h {
    width: 1841px;
    margin: 0px auto;
}

@keyframes headerL {
    0% {
        transform: rotate(180deg) translateX(100px);
        opacity: 0;
    }
    90% {
        transform: rotate(180deg) translateX(100px);
        opacity: 0;
    }
    100% {
        transform: rotate(180deg) translateX(0px);
        opacity: 1;
    }
}
@keyframes headerR {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    90% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    &__top {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        z-index: 3;
        &-a {
            padding-left: 9px;
            transition: 0.3s;
            transform: rotate(180deg);
            &:hover {
                opacity: 0.8;
                transform: rotate(180deg) scale(1.1);
                transition: 0.3s;
            }
            &:active {
                opacity: 0.6;
                transition: 0.3s;
            }
        }
        &-menu {
            position: relative;
            width: 11px;
            height: 33px;
            margin-bottom: 28px;
            &::before {
                content: '';
                position: absolute;
                background-color: #E3B07E;
                height: 20px;
                width: 3px;
                top: 0;
                left: 0;
                transition: 0.3s;
            }
            &::after {
                content: '';
                position: absolute;
                background-color: #E3B07E;
                height: 33px;
                width: 3px;
                top: 0;
                right: 0;
                transition: 0.3s;
            }
            &:hover {
                cursor: pointer;
                &::after {
                    background-color: #c79664;
                    transition: 0.3s;
                }
                &::before {
                    background-color: #c79664;
                    transition: 0.3s;
                }
            }
            &:active {
                cursor: pointer;
                &::after {
                    background-color: #af8458;
                    transition: 0.3s;
                }
                &::before {
                    background-color: #af8458;
                    transition: 0.3s;
                }
            }
        }
    }
    &__fix {
        position: fixed;
        top: 100px;
        width: 100%;
        top: 0;
        &-left {
            animation: headerL 2s linear;
            height: 100vh;
            display: flex;
            flex-wrap: nowrap;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            top: 39px;
            left: 36px;
            &-text {
                height: 55%;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                margin-bottom: 28px;
                & p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #E3B07E;
                    margin-top: 32px;
                    margin-bottom: 32px;
                }
                &::before {
                    content: '';
                    width: 1px;
                    background-color: #E3B07E;
                    flex: 1;
                }
                &::after {
                    content: '';
                    width: 1px;
                    background-color: #E3B07E;
                    flex: 2;
                }
            }
            &-soc {
                transform: rotate(180deg);
                margin-top: 12px;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                & a {
                    margin-top: 32px;
                    transition: 0.3s;
                    & svg {
                        fill: none;
                    }
                    &:hover {
                        opacity: 0.8;
                        transition: 0.3s;
                    }
                    &:active {
                        opacity: 0.6;
                        transition: 0.3s;
                    }
                }
            }
        }
        &-right {
            animation: headerR 2s linear;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-top: 4px;
            position: absolute;
            top: 39px;
            right: 36px;
            & a {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #E3B07E;
                margin-top: 32px;
                transition: 0.3s;
                &:hover {
                    transition: 0.3s;
                    color: #c79664;
                    transform: scale(1.2);
                }
                &:active {
                    transition: 0.3s;
                    color: #af8458;
                    transform: scale(1.2);
                }
            }
        }
    }
}

@keyframes logo_l {
    0% {
        transform: translateX(33%);
    }
    80% {
        transform: translateX(33%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes logo_text {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.first {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: relative;
    &-svg {
        fill: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & svg {
            #logo_l {
                animation: logo_l 2.5s ease;
            }
            #logo-1 {
                animation: logo_text 2.8s linear;
            }
            #logo-2 {
                animation: logo_text 2.7s linear;
            }
            #logo-3 {
                animation: logo_text 2.6s linear;
            }
            #logo-4 {
                animation: logo_text 2.5s linear;
            }
            #logo-5 {
                animation: logo_text 2.4s linear;
            }
            #logo-6 {
                animation: logo_text 2.3s linear;
            }
            #logo-7 {
                animation: logo_text 2.1s linear;
            }
            #logo-8 {
                animation: logo_text 2s linear;
            }
        }
    }
}

.pic {
    margin-top: 64px;
    &__top {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: space-between;
        &-text {
            max-width: 580px;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 120%;
            color: #E3B07E;
        }
        &-a {
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 120%;
            color: #E3B07E;
            position: relative;
            transition: 0.3s;
            &::before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-top: 2px solid #FFFFFF;
                border-right: 2px solid #FFFFFF;
                top: -5px;
                right: -12px;
                transition: 0.3s;
            }
            &:hover {
                color: #c79664;
                transition: 0.3s;
                &::before {
                    top: -7px;
                    right: -17px;
                    transition: 0.3s;
                }
            }
            &:active {
                color: #af8458;
                transition: 0.3s;
                &::before {
                    top: -7px;
                    right: -17px;
                    transition: 0.3s;
                }
            }
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-top: 54px;
        &-item {
            margin-top: 50px;
            border-radius: 10px;
            & img {
                width: 100%;
            }
            &-b {
                width: 100%;
                // height: 1090px;
            }
            &-m {
                width: 100%;
                // height: 850px;
            }
            &-f {
                width: 48%;
                // height: 444px;
            }
            &-t {
                width: 38%;
                // height: 437px;
            }
            &-s {
                width: 58%;
                // height: 630px;
            }
        }
    }
}

.ser {
    margin-top: 178px;
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 121.5%;
        color: #E3B07E;
        max-width: 830px;
    }
    &__items {
        margin-top: 140px;
        display: flex;
        flex-wrap: nowrap;
        margin-right: -49px;
        &-item {
            width: calc(33.333% - 49px);
            margin-right: 49px;
            transition: 0.3s;
            & img {
                width: 100%;
            }
            &:hover {
                transition: 0.3s;
                transform: scale(1.02);
            }
        }
    }
}

.design {
    margin-top: 200px;
    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 121.5%;
        color: #E3B07E;
    }
    &__box {
        width: 100%;
        box-shadow: 25px 25px 0px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-top: 64px;
        & video {
            width: 100%;
            height: 100%;
            border-radius: 30px;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(-2890px);
    }
}

.footer {
    margin-top: 150px;
    // z-index: 1;
    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 121.5%;
        color: #E3B07E;
        // margin-bottom: 1160px;
        max-width: 840px;
    }
    &__items {
        // display: flex;
        // flex-wrap: nowrap;
        // transform: translateX(-500px);
        // animation: slide 120s infinite linear;
        // position: absolute;
        margin-bottom: 278px;
        margin-top: 170px;
        position: relative;
        &-left {
            position: absolute;
            z-index: 11;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
        }
        &-right {
            position: absolute;
            z-index: 11;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
        }
        &-item {
            width: 378px;
            height: 770px;
            border-radius: 30px;
            box-shadow: 25px 25px 0px rgba(0, 0, 0, 0.25);
        }
        .swiper-wrapper {
            z-index: 0;
        }
    }
}

.header__mob {
    display: none;
}

.footer__items-mob {
    display: none;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.4);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes show2 {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.4) rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) rotate(180deg);
    }
}
@keyframes hide {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}

.cbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vh;
    height: 100vh;
}

.cursort {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #0D1219;
    border: 2px solid #E3B07E;
    // box-shadow: 8px 7px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    animation: hide 0.2s forwards;
    pointer-events: none;
    z-index: 10;
    &__next {
        transition: 0.5s ease;
        &.active {
            transition: 0.5s ease;
            transform: translateX(10px) scaleX(1.1);
        }
        &.active2 {
            transition: 0.5s ease;
            transform: translateX(10px) scaleX(1.1);
        }
    }
    &.active {
        cursor: none;
        animation: show 0.5s forwards;
        transform: translate(-50%, -50%);
    }
    &.active2 {
        cursor: none;
        animation: show2 0.5s forwards;
        transform: translate(-50%, -50%);
    }
    
    // transition: 0.1s ease;
}

.ser__items-swiper {
    display: none;
    margin-top: 64px;
}

@media screen and (max-width: 1630px) {
    .wrapper {
        // width: 1010px;
        width: auto;
        // margin: 0px 174px;
    }
    // .pic__items-item-b {
    //     height: 770px;
    // }
    // .pic__items-item-m {
    //     height: 600px;
    // }
    // .pic__items-item-f {
    //     height: 314px;
    // }
    // .pic__items-item-t {
    //     height: 309px;
    // }
    // .pic__items-item-s {
    //     height: 446px;
    // }
    .glob_text {
        font-size: 16px;
        line-height: 121.5%;
        max-width: 593px;
    }
    .first svg {
        width: 342px;
    }
    .pic__top-a {
        font-size: 16px;
        line-height: 121.5%;
    }
    .design__title {
        font-size: 21px;
        line-height: 121.5%;
    }
    // .design__box {
    //     height: 515px;
    // }
    .footer__items-item {
        width: 267px;
        height: 502px;
    }
    @keyframes slide {
        0% {
            transform: translateX(-500px);
        }
        100% {
            transform: translateX(-2190px);
        }
    }
    .footer__items-item {
        margin-right: 71px;
    }
    .pic__items {
        margin-top: 24px;
    }
    .pic__items-item {
        margin-top: 36px;
    }
    .ser {
        padding-top: 120px;
    }
    .pic__top-text {
        max-width: 428px;
    }
    .header__top-menu {
        height: 23px;
        width: 8px;
        &::before {
            height: 14px;
            width: 2px;
        }
        &::after {
            height: 23px;
            width: 2px;
        }
    }
    .header__top-a svg {
        width: 24px;
    }
    .design__title {
        margin-top: 140px;
    }
    .design__items {
        margin-top: 42px;
    }
    .footer {
        padding-top: 100px;
    }
    // .footer__items {
    //     bottom: 197px;
    // }
    .ser__items {
        margin-right: -34px;
    }
    .ser__items-item {
        width: calc(33.333% - 34px);
        margin-right: 34px;
    }
    .design__box {
        border-radius: 20px;
    }
    .pic__items-item {
        border-radius: 7px;
    }
    .footer__items-item {
        border-radius: 20px;
    }
    .header__fix-right a {
        font-size: 9px;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
        // width: 950px;
        width: auto;
        // margin: 0px 164px;
    }
    .glob_text {
        font-size: 15px;
        line-height: 121.5%;
        max-width: 558px;
    }
    .pic__top-text {
        max-width: 430px;
    }
    // .pic__items-item-b {
    //     height: 724px;
    // }
    // .pic__items-item-m {
    //     height: 550px;
    // }
    // .pic__items-item-f {
    //     height: 296px;
    // }
    // .pic__items-item-t {
    //     height: 291px;
    // }
    // .pic__items-item-s {
    //     height: 420px;
    // }
    .pic__top-a {
        font-size: 15px;
    }
    .pic__items {
        margin-top: 34px;
    }
    .pic__items-item {
        margin-top: 34px;
    }
    .ser__items {
        margin-top: 86px;
    }
    .ser__items {
        margin-right: -32px;
    }
    .ser__items-item {
        width: calc(33.333% - 32px);
        margin-right: 32px;
    }
    .design__title {
        margin-top: 130px;
    }
    .design__box {
        margin-top: 42px;
        // height: 485px; 
    }
    @keyframes slide {
        0% {
            transform: translateX(-500px);
        }
        100% {
            transform: translateX(-2115px);
        }
    }
    // .footer__items {
    //     bottom: 185px;
    // }
    .footer__items-item {
        width: 252px;
        height: 472px;
    }
}

@media screen and (max-width: 1100px) {
    .header__fix-left {
        left: 10px;
    }
    .header__fix-right {
        right: 10px;
    }
    .wrapper {
        // width: 700px;
        width: auto;
        // margin: 0px 150px;
    }
    .pic__items-item {
        margin-top: 24px;
    }
    // .pic__items-item-b {
    //     height: 530px;
    // }
    // .pic__items-item-m {
    //     height: 430px;
    // }
    // .pic__items-item-f {
    //     height: 220px;
    // }
    // .pic__items-item-t {
    //     height: 210px;
    // }
    // .pic__items-item-s {
    //     height: 290px;
    // }
    .ser__items {
        margin-right: -24px;
    }
    .ser__items-item {
        margin-right: 24px;
        width: calc(33.333% - 24px);
    }
    // .design__box {
    //     // height: 360px;
    // }
}

@media screen and (max-width: 800px) {
    .wrapper {
        // width: 500px;
        width: auto;
        margin: 0px 50px;
    }
    .pic__items-item {
        margin-top: 24px;
    }
    // .pic__items-item-b {
    //     height: 380px;
    // }
    // .pic__items-item-m {
    //     height: 330px;
    // }
    // .pic__items-item-f {
    //     height: 170px;
    // }
    // .pic__items-item-t {
    //     height: 150px;
    // }
    // .pic__items-item-s {
    //     height: 215px;
    // }
    .glob_text {
        max-width: 100%;
    }
    .pic__top-text {
        max-width: 300px;
    }
    .ser__items {
        flex-wrap: wrap;
    }
    .ser__items-item {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
    // .design__box {
    //     height: 260px;
    // }
    .ser__items {
        display: none;
    }
    .ser__items-swiper {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        // width: 320px;
        width: auto;
        margin: 0px 27px;
    }
    .header__fix {
        display: none;
    }
    .header__mob {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-top: 20px;
    }
    .header__top-a {
        transform: rotate(0deg);
        &:hover {
            transform: rotate(0deg) scale(1.1);
        }
    }
    .first {
        height: 172px;
    }
    .first svg {
        width: 185px;
    }
    .first-svg {
        bottom: 100%;
        transform: translate(-50%, 0%);
    }
    .pic {
        margin-top: 94px;
    }
    .pic__top {
        flex-direction: column;
        align-items: center;
    }
    .glob_text {
        font-size: 20px;
        line-height: 120%;
    }
    .pic__top-text {
        max-width: 100%;
        text-align: center;
    }
    .pic__top-a {
        margin-top: 64px;
        &::before {
            width: 7px;
            height: 7px;
            border-width: 1px;
        }
    }
    .pic__items-item {
        margin-top: 24px;
    }
    // .pic__items-item-b {
    //     height: 380px;
    // }
    // .pic__items-item-m {
    //     height: 200px;
    // }
    // .pic__items-item-f {
    //     height: 200px;
    //     width: 100%;
    // }
    // .pic__items-item-t {
    //     height: 258px;
    //     width: 100%;
    // }
    // .pic__items-item-s {
    //     height: 240px;
    //     width: 100%;
    // }
    .ser {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ser__items-swiper {
        width: 90%;
    }
    .ser__items {
        width: 100%;
        margin-right: 0px;
    }
    .ser__items-item {
        margin-right: 0px;
        width: 100%;
    }
    .design__box {
        display: none;
    }
    .footer__text {
        display: none;
    }
    .footer__items {
        display: none;
    }
    @keyframes slide2 {
        0% {
            transform: translateX(-200px);
        }
        100% {
            transform: translateX(-730px);
        }
    }
    .footer__items-mob {
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        bottom: 40px;
        transform: translateX(-110px);
        // animation: slide2 60s infinite linear;
        &-i {
            &:nth-child(2n) {
                margin-top: 203px;
            }
        }
    }
    .footer__items-item {
        width: 188px;
        height: 351px;
        margin-bottom: 24px;
        margin-right: 24px;
        box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
    }
    .footer {
        height: 1060px;
    }
    .cursort {
        display: none;
    }
    .footer__items {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .footer__items-item {
        height: 351px;
    }
}

@media screen and (max-width: 330px) {
    .wrapper {
        // width: 300px;
        width: auto;
        margin: 0px 15px;
    }
    .pic {
        margin-top: 90px;
    }
}
@media screen and (min-width: 2000px) {
    .wrapper {
        width: auto;
        margin: 0px 14.3675vw;
    }
    .ser {
        margin-top: 178px;
    }
    .design {
        margin-top: 200px;
    }
    .footer {
        margin-top: 150px;
    }
    .footer__items-item {
        height: 1020px;
    }
}