// main style file by Maxim Sinukov
html {
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
    &.no-scroll {
		overflow: hidden;
    }
}

body {
    font-family: 'stolzl', sans-serif;
    color: #E3B07E;
    margin: 0 !important;
    transition: 0.3s;
    font-weight: normal;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0D1219;
}
.collapsible-body {
    overflow: hidden;
}

.footer {
    margin-top: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    outline: none;
}

.number-input-button {
    border: none;
    border: 2px solid #000;
    width: 20px;
    height: 20px;
    background-color: #fff;
    font-weight: bold;
    color: green;
}

.number-result{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.number-input-container{
    display: flex;    
}

.number-input {
    box-shadow: inset 0 0 0 rgba(64,150,255,0.1);
    margin: 1rem 0;
    pointer-events: none;
    text-align: center;
    border: none;
    width: 30px;
    display: none;
    text-align: center;
}


#scene {
    position: relative;
    width: 100%;
}

.block-1 {
    position: absolute;
    left: 50% !important;
}
.block-2 {
    position: absolute;
    left: 50% !important;
}


.swiper-container {
    overflow: visible !important;
}

.m-bg-cont {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    img:nth-child(1) {
        display: none;
    }
}


.m-select {
    background: #FFFFFF;
    border: 1px solid #E2E2E2 !important;
    height: 50px !important ;
    border-radius: 0 !important;
    &:after {
        border-color: #2B7EE0 !important;
    }
    max-width: 270px;
    width: 100%;
    height: 50px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 16px !important;
    color: #323232 !important;
    .list {
        width: calc(100% + 2px) !important;
        left: -1px !important;
        max-height: 270px;
        overflow-y: auto;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        .option {
            height: 45px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 128%;
            color: #323232;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #D7DEE9 !important;
            &:hover {
                background-color: #F6F9FE;
            }
            &:last-child {
                border-bottom: 0;
            }
            &.focus {
                background-color: #F6F9FE !important;
                font-weight: 300 !important;
            }   
        }
    }
    &.open {
        border-color: #2B7EE0 !important;
        border-bottom: none !important;
        .list {
            min-width: 100% !important;
            transform: translateY(-4px) !important;
            z-index: 12 !important;
            border-left: 1px solid #2B7EE0 !important;
            border-right: 1px solid #2B7EE0 !important;
            box-sizing: content-box;
            border-bottom: 1px solid #2B7EE0 !important;
        }
    }
}

#slider {
    width: 100%;
}
.noUi-base {
    background-color: #e2e2e2;
}
.noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
    top: -4.5px;
}
.noUi-target.noUi-horizontal .noUi-tooltip {
    background: #2062B0;
}
.noUi-connect {
    background: #2062B0;
}
.noUi-horizontal .noUi-handle {
    background: #2062B0;
    width: 10px;
    height: 11px;
    border-radius: 3px !important;
    background-color: #2062B0 !important;
}
.noUi-target {
    background: #2062B0;
}

.noUi-active {
    border-radius: 40px 40px 40px 40px !important;
}

a {
    text-decoration: none;
    color: #323232;
    font-weight: 400;
}

.noUi-tooltip {
    span {
        display: none;
    }
}

.noUi-tooltip {
    width: 100px;
    transform: rotate(0) translatex(-50%) !important;
    background-color: transparent !important;
    opacity: 1 !important;
    color: black !important; 
    span {
        transform: none !important;
        color: black !important;
        opacity: 1 !important;
        top: calc(100% + 23px) !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 12px !important;
        line-height: 15px !important;
        text-align: center !important;
        color: #4F4F4F !important;
    }
}

.collapsible-body {
    transition: 0.2s;
    overflow: hidden;
}
