<div class="footer wrapper">
    <div class="footer__text glob_text wow fadeInUp" data-wow-delay=".1s">
        The amber jet homepage is full of effects in the best tradition of lottie scrooll. We created an interesting storytelling and showed the features of the business in an easy and entertaining way. 
    </div>
    <div class="footer__items footer__swiper">
        <div class="footer__items-left"></div>
        <div class="footer__items-right"></div>
        <div class="swiper-wrapper">
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f1.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f2.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f3.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f4.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f5.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f1.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f2.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f3.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f4.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f5.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f1.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f2.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f3.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f4.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f5.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f1.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f2.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f3.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f4.png">
            </div>
            <div class="footer__items-item m-bg-cont swiper-slide">
                <img src="static/img/content/f5.png">
            </div>
        </div>
    </div>
    <div class="footer__items-mob">
        <div class="footer__items-mob-i">
            <div class="footer__items-item m-bg-cont">
                <img src="static/img/content/f1.png">
            </div>
            <div class="footer__items-item m-bg-cont">
                <img src="static/img/content/f2.png">
            </div>
        </div>
        <div class="footer__items-mob-i">
            <div class="footer__items-item m-bg-cont">
                <img src="static/img/content/f3.png">
            </div>
            <div class="footer__items-item m-bg-cont">
                <img src="static/img/content/f4.png">
            </div>
        </div>
        <div class="footer__items-mob-i">
            <div class="footer__items-item m-bg-cont">
                <img src="static/img/content/f5.png">
            </div>
            <div class="footer__items-item m-bg-cont">
                <img src="static/img/content/f1.png">
            </div>
        </div>
        <div class="footer__items-mob-i">
            <div class="footer__items-item m-bg-cont">
                <img src="static/img/content/f2.png">
            </div>
            <div class="footer__items-item m-bg-cont">
                <img src="static/img/content/f3.png">
            </div>
        </div>
        <div class="footer__items-mob-i">
            <div class="footer__items-item m-bg-cont">
                <img src="static/img/content/f4.png">
            </div>
            <div class="footer__items-item m-bg-cont">
                <img src="static/img/content/f5.png">
            </div>
        </div>
    </div>
</div> 


{{> scripts/scripts}}