<div class="header">
        <div class="header__fix">
            <div class="header__fix-left">
                <div class="header__fix-left-soc">
                    <a href="#">
                        {{Icon iconName="be"}}
                    </a>
                    <a href="#">
                        {{Icon iconName="fb"}}
                    </a>
                    <a href="#">
                        {{Icon iconName="in"}}
                    </a>
                </div>
                <div class="header__fix-left-text">
                    <p>AMBER JET</p>
                </div>
                <a href="#" class="header__top-a">
                    {{Icon iconName="logo"}}
                </a>
            </div>
            <div class="header__fix-right">
                <div class="header__top-menu">
                </div>
                <a href="#">
                    EN
                </a>
                <a href="#">
                    RU
                </a>
            </div>
        </div>
        <div class="header__mob wrapper">
            <a href="#" class="header__top-a">
                {{Icon iconName="logo"}}
            </a>
            <div class="header__top-menu">
            </div>
        </div>
    </div>
</div>